.swiperTeam {
  height: 45rem;
  padding: 2rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .swiperTeam {
    height: 52rem;
  }
}

:global(.slider__team) {
  width: 28rem;
  height: 36rem;
  position: relative;
  margin: 4rem auto 0;
}

@media (min-width: 768px) {
  :global(.slider__team) {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
}

.slider__contentImg {
  width: 28rem;
  height: 36rem;
}

@media (min-width: 768px) {
  .slider__contentImg {
    width: 37rem;
    height: 42rem;
  }
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

:global(.slider__team:hover) .slider__img {
  filter: blur(2px) grayscale(0.9) brightness(0.6);
}

:global(.slider__team:hover) .slider__content {
  opacity: 1;
}

.slider__name {
  font-size: 2.4rem;
  width: 28rem;
  font-weight: 600;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 1);
}

.slider__rol {
  color: var(--blanco);
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 1);
}

.slider__social > img {
  transition: transform 0.3s ease-in-out;
}

.slider__social > img:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .slider__name {
    font-size: 3.4rem;
    width: 28rem;
    font-weight: 600;
  }

  .slider__rol {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

:global(.swiper-pagination-team) {
  position: relative;
  width: 15rem;
  bottom: -2rem !important;
}

:global(.team-slider__controls .swiper-pagination .swiper-pagination-bullet) {
  background-color: var(--naranja);
}
