/* Swiper*/
.section-swiper {
  height: 100vh;
  display: grid;
  place-content: center;
  max-width: 120rem;
  margin: -2rem auto 0 auto;
}

.mySwiper-hero {
  width: 90rem;
  height: 48rem;
}

@media (max-width: 768px) {
  .mySwiper-hero {
    width: 90%;
  }
}

.mySwiper-hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--negro);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: grab;
}

.mySwiper-hero .swiper-slide {
  position: relative;
}

.mySwiper-hero .swiper-slide .swiper__description {
  position: absolute;
  margin-top: -2rem;
}

.mySwiper-hero .swiper-slide .swiper__description .swiper__title .swiper__url {
  font-size: 7rem;
  color: var(--blanco);
  -webkit-transition: background-position .5s;
  transition: background-position .5s;
  background-image: -webkit-gradient(linear, right top, left top, from(currentColor), color-stop(50%, currentColor), color-stop(50%, transparent));
  background-image: -webkit-linear-gradient(right, currentColor 0, currentColor 50%, transparent 50%);
  background-image: linear-gradient(to left, currentColor 0, currentColor 50%, transparent 50%);
  background-position: 0 0;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.mySwiper-hero .swiper-slide.swiper-slide-active .swiper__description .swiper__title .swiper__url {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  color: var(--blanco);
  background-position: -100% 0;
}

@media (min-width: 768px) {
  .mySwiper-hero .swiper-slide .swiper__description .swiper__title .swiper__url {
    font-size: 11rem;
  }
}

.mySwiper-hero .swiper-slide .swiper__description .swiper__text {
  color: var(--blanco);
  max-width: 60rem;
  margin: 2rem auto 0 auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.mySwiper-hero .swiper-slide.swiper-slide-active .swiper__description .swiper__text {
  opacity: 1;
}

.mySwiper-hero .swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1.3s ease;
  opacity: 0;
  transform: translateX(-150%);
}

.mySwiper-hero .swiper-slide.swiper-slide-active .swiper-img {
  opacity: 1;
  transform: translateX(0);
}

.section-swiper .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-vertical {
  right: 5rem;
  height: 25rem;
  left: unset;
  top: 35%;
  bottom: 50%;
  z-index: 1;
}

@media (max-width: 768px) {
  .section-swiper .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-vertical {
    right: 2.2rem;
  }
}

.section-swiper .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-vertical>span {
  background: var(--naranja);
}

.section-swiper .counter-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 4rem;
  top: 30%;
  bottom: 50%;
  height: 33rem;
  z-index: 1;
  position: absolute;
}

@media (max-width: 768px) {
  .section-swiper .counter-bar-content {
    right: 1.5rem;
  }
}

.section-swiper .counter-bar {
  color: var(--blanco);
  display: inline-block;
  transform: rotate(90deg);
}

.section-swiper .counter-bar:last-child {
  color: var(--gris);
}

/*Section Partners*/
.partners {
  height: auto;
  background-color: var(--blanco);
}

.swiperPartners {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.partners__track {
  padding: 2rem;
  align-items: center;
}

.partners__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__img {
  width: 12rem;
}

/* Team Slider */

.team {
  text-align: center;
  margin: 3rem 0;
}

.team__title {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
  color: var(--blanco);
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .team {
    display: grid;
    place-content: center;
    overflow: hidden;
    min-height: 100vh;
  }

  .team__title {
    font-size: 10rem;
  }
}

.team-slider {
  height: 45rem;
  padding: 2rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .team-slider {
    height: 52rem;
  }
}

.team-slide {
  width: 28rem;
  height: 36rem;
  position: relative;
}

@media (min-width: 768px) {
  .team-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
}

.team-slide__img {
  width: 28rem;
  height: 36rem;
  margin: 4rem auto 0;
}

@media (min-width: 768px) {
  .team-slide__img {
    width: 37rem;
    height: 42rem;
  }
}

.team-slide__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

.team-slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.team-slide:hover .team-slide__img--img {
  filter: blur(2px) grayscale(0.9) brightness(0.6);
}

.team-slide:hover .team-slide__content  {
  opacity: 1;
}

.team-slide__name {
  font-size: 2.4rem;
  width: 28rem;
  font-weight: 600;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 1);
}

.team-slide__rol {
  color: var(--blanco);
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 1);
}

.team-slide__social-media > img {
  transition: transform .3s ease-in-out;
}

.team-slide__social-media > img:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .team-slide__name {
    font-size: 3.4rem;
    width: 28rem;
    font-weight: 600;
  }

  .team-slide__rol {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.team-slider__controls {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-pagination-team {
  position: relative;
  width: 15rem;
  bottom: -2rem!important;
}

.team-slider__controls .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--naranja);
}
