---
import { t } from 'i18next';
import CounterScript from './CounterScript.astro';
---

<section class="counter" id="counter">
  <div class="counter__items container">
    <div class="counter__item">
      <h3 class="counter__number" data-val="500">0</h3>
      <p class="counter__description">{t("counter.projects")}</p>
    </div>

    <div class="counter__item">
      <h3 class="counter__number" data-val="10">0</h3>
      <p class="counter__description">{t("counter.years")}</p>
    </div>

    <div class="counter__item">
      <h3 class="counter__number" data-val="200">0</h3>
      <p class="counter__description">{t("counter.clients")}</p>
    </div>
  </div>
  <CounterScript />
</section>

<style>
  .counter {
    width: 100%;
    background-color: var(--naranja);
  }

  .counter__items {
    height: auto;
    padding: 3rem 0;
    display: grid;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  @media (min-width: 768px) {
    .counter__items {
      justify-content: space-between;
      height: auto;
      padding: 6rem 0;
    }
  }

  .counter__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counter__nu
