---
import { SwiperHero } from './swiper/hero/SwiperHero.tsx'
import ScrollDown from './ScrollDown.astro'
---

<main class="section-swiper">
  <SwiperHero client:load />
  <ScrollDown />
</main>

<style>
  .section-swiper {
    height: 60vh;
    display: grid;
    place-content: center;
    max-width: 120rem;
    margin: -2rem auto 0 auto;
    overflow-x: hidden;
    position: relative;
  }

  @media (min-width: 768px) {
    .section-swiper {
      height: 100vh;
    }
  }
</style>
