---
export interface Props {
  isBlack: boolean 
}

import { t } from 'i18next'
import { SwiperPartners } from './swiper/partners/SwiperPartners.tsx'
import partners from '../assets/data/partners.json'
import { concatImgToObject } from '../utils'

import dra_aura_ruiz from '../assets/img/clients/dra-aura-ruiz.png'
import gear_electric from '../assets/img/clients/gear-electric.png'
import hotel_clarion from '../assets/img/clients/hotel-clarion.png'
import nextgen_soluciones from '../assets/img/clients/nextgen-soluciones.png'
import perez_lara from '../assets/img/clients/perez-lara.png'
import purezza from '../assets/img/clients/purezza.png'
import waterlogic from '../assets/img/clients/waterlogic.png'
import wearetop from '../assets/img/clients/wearetop.png'

const IMAGES = {
  dra_aura_ruiz,
  gear_electric,
  hotel_clarion,
  nextgen_soluciones,
  perez_lara,
  purezza,
  waterlogic,
  wearetop
}

const swiperPartnersData = concatImgToObject(partners, IMAGES)

const { isBlack } = Astro.props as Props
---

<section class="partners">
  <h2
    class={`partners__title ${isBlack ? 'partners__title--invert' : ''}`}
  >
    {!isBlack && t("partners")}
    {isBlack && (
      <h2 class="title-customer">
        Customers who trust us
        <span class="title-customer--orange">all over the world</span>
      </h2>
    )}
  </h2> 
  <SwiperPartners client:visible data={swiperPartnersData}  />
</section>

<style>
  .partners {
    background-color: var(--blanco);
  }

  .partners__title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 4rem;
  }

  .partners__title.partners__title--invert {
    filter: invert(1);
  }

  :global(:has(.partners__title--invert)) .partners {
    background-color: var(--negro);
  }

  .title-customer {
    color: var(--blanco);
    font-size: 4rem;
    text-align: center;
    word-break: break-word;
    white-space: pre-line;
    margin-top: -3rem;
  }

  .title-customer--orange {
    color: var(--naranja);
  }

  @media (min-width: 768px) {
    .partners__title {
      font-size: 8rem;
    }

    .title-customer {
      font-size: 8rem;
    }
  } 
</style>
