<section class="quote" id="quote">
  <h2 class="quote__text container">
    Creativity, innovation and technology.
  </h2>
  <a
    href="https://quoter.vehement.co"
    aria-label="Get a quote"
    title="Get a quote"
    class="button-quoter"
  >
    Get a quote
  </a>

  <p class="quoter__text">¡In less than 5 minutes!</p>
</section>
