<div class="burger">
  <span class="burger__span-1" />
  <span class="burger__span-2" />
</div>

<script>
  import logoBlack from "../assets/img/logo-black.webp"
  import logoWhite from "../assets/img/logo-white.webp"
  import { $, $$ } from "../utils"

  const burger = $('.burger')
  const nav = $('.nav')
  const logo = $('.logo')
  const doc = $('html')
  const navItems = $$('.nav__url')

  const openBurger = () => {
  burger.classList.toggle('open-burger')
    nav.classList.toggle('open-menu')
    logo.src = nav.classList.contains('open-menu') ? logoBlack : logoWhite 
    doc.classList.toggle('scroll-off')
  }

  navItems.forEach(item => {
    item.addEventListener('click', () => {
      burger.classList.toggle('open-burger')
      nav.classList.toggle('open-menu')
      logo.src = nav.classList.contains('open-menu') ? logoBlack : logoWhite 
      doc.classList.toggle('scroll-off')
    })
  })

  burger.addEventListener('click', openBurger)
</script>
